* { padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
   
    font-family: 'Grenze Gotisch', cursive;
}

header {
    
    background-color:black ;
    background-image:url('../imgs/portada.jpg');
    background-size: auto;
    background-repeat: no-repeat;
    background-position: left;
    color: white;
    height: 200px;
    padding: 20px;

}

img {

}
h1 {
    font-family: 'Grenze Gotisch', cursive;
}

h3 {
    background-position: center;
    font-family: 'Grenze Gotisch', cursive;
    font-weight: 100; 
    display: inline-block
}

h1 span  {
    font-weight: 400;
    color: rgb(126, 100, 150);

}

.post-container {
    color: black;
    width: 800px;
    margin: 100px auto;

}
.thumbnail,
.post-content
{
display: inline-block;
width: 49%;
}

.thumbnail {
    vertical-align: top;
}

.post-content {
    padding: 50px 20px;
}

.post {
    margin-bottom: 50px;
}

p { padding-right: 60px;
    
}

footer {
    background-color: black;
    color: rgb(216, 208, 208);
    text-align: center;
}